<h1>New artist</h1>
<%= simple_form_for [@user, @artist] do |f| %>

  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :photos %>
  <%= f.button :submit %>
<% end %>
