<div class="container mt-4">
  <div class="p-2 mb-3">
    <h1><%= @artist.name %></h1>
    <div class="d-flex">
      <small class="mx-3"><%= @artist.category %></small>
      •
      <small class="mx-3"><%= @artist.address %></small>
    </div>
  </div>
  <div class="glide rounded mb-4">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide"><%= cl_image_tag @artist.photos[0].key %></li>
        <li class="glide__slide"><%= cl_image_tag @artist.photos[1].key %></li>
        <li class="glide__slide"><%= cl_image_tag @artist.photos[2].key %></li>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
    </div>
  </div>
  <h2><%= @artist.name %></h2>
  <div class="d-flex mb-3">
    <small class="mx-2"><%= @artist.age %> years old</small>
    •
    <small class="mx-2">From <%= @artist.price %>€</small>
    •
    <small class="mx-2">Find me here: <%= @artist.address %></small>
  </div>
  <hr class="mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 my-3">
        <h4>description:</h4>
        <p><%= @artist.description %></p>
        <hr class="my-4">
        <div class="neu-form my-5 p-4">
          <h5 class="py-3">Add your review</h5>
          <%= simple_form_for [@artist, @review], data: { controller: "star-form" } do |f| %>
            <%= f.input :comment, placeholder: "Add your review here..." %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: { controller: "star-rating", action: "change->star-form#submit"} }  %>
            <%= f.button :submit, class:"btn btn-outline-success my-3" %>
          <% end %>
        </div>
        <div class="py-4 mb-4">
          <h3>Reviews</h3>
          <% if @artist.reviews.empty? %>
            <small><em class="text-muted">Be the first one to review this list</em></small>
          <% end %>
          <% @artist.reviews.each do |review| %>
            <div>
              <% review.rating.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
              <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
              <p class="mb-0"><%= review.comment %></p>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="neu-form sticky-top p-4">
          <h2>Booking to <%=  %></h2>
          <%= simple_form_for [@artist, @hire], data: { controller: "hire-form" } do |f| %>
            <%= f.label :start_date %>
            <%= f.date_field :start_date, min: Date.tomorrow,
              data: { "hire-form-target": "startDate", "action": "change->hire-form#minEnd" } %>
            <%= f.label :end_date %>
            <%= f.date_field :end_date, data: { "hire-form-target": "endDate", "action": "change->hire-form#totalDays" } %>
            <%# f.association :adds, as: :check_boxes, collection: Add.all.order(:name), prompt: "Select your adds", data: { controller: "tom-select" }, input_html: { class: 'multiselectadd', multiple: true } %>
            <%= f.association :adds, collection: Add.all.order(:name), input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: false}}} %>
            <%= f.hidden_field :total_price, :data => { :"hire-form-target" => "totalForm" } %>
            <span data-hire-form-target="dailyPrice" hidden><%= @artist.price %></span>
            <hr>
            <small>Total price:</small>
            <div class="d-flex align-items-center mb-2">
              <i class="fa-solid fa-euro-sign"></i>
              <h4 class="my-0 mx-2"data-hire-form-target="fullPrice"></h4>
            </div>
            <%= f.button :submit, class: "btn btn-outline-success" %>
            <% @adds.each do |a| %>
              <%= image_tag a.picture_url, :class => "avatar-large" %>
              <div><%= a.price %></div>
            <% end %>
            <%= select_tag 'particular_users', 
       options_from_collection_for_select(@adds, :name, :price), 
       multiple: true, class: 'multiselectuser' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
