<div class="container mt-5">
  <div class="p-2 mb-3">
    <h1 class="fw-bold display-1"><%= @artist.name %></h1>
    <div class="d-flex">
      •
      <small class="mx-3">Category: <%= @artist.category %></small>
      •
      <small class="mx-3">Address: <%= @artist.address %></small>
    </div>
  </div>
  <div id="carouselExampleFade" class="carousel slide carousel-fade carousel-fake" data-bs-ride="carousel">
    <div class="carousel-inner rounded">
      <div class="carousel-item active">
        <img src="<%= cl_image_path @artist.photos[0].key %>" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= cl_image_path @artist.photos[1].key %>" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= cl_image_path @artist.photos[2].key %>" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h2 class="mt-4"><%= @artist.name %></h2>
  <div class="d-flex mb-3">
    •
    <small class="mx-2"><strong>Age:</strong> <%= @artist.age %> years old</small>
    •
    <small class="mx-2"><strong>From:</strong> <%= @artist.price %>€</small>
    •
    <small class="mx-2"><b>Find me here:</b> <%= @artist.address %></small>
  </div>
  <hr class="mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-7 col-md-9 my-3" data-controller="insert-review">
        <h3>description:</h3>
        <p><%= @artist.description %></p>
        <hr class="my-4">
        <div class="neu-form my-5 p-4">
          <h4 class="py-3">Add your review</h4>
          <%= simple_form_for [@artist, @review], data: { controller: "star-form", insert_review_target: "form", action: "submit->insert-review#send" } do |f| %>
            <%= f.input :comment, placeholder: "Add your review here..." %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: { controller: "star-rating"} }  %>
            <%= f.button :submit, class:"btn btn-outline-success my-3" %>
          <% end %>
        </div>
        <div class="pb-4 mb-4">
          <h3>Reviews</h3>
          <% if @artist.reviews.empty? %>
            <small><em class="text-muted">Be the first one to review this list</em></small>
          <% end %>
          <% @artist.reviews.each do |review| %>
            <div data-insert-review-target="items">
              <% review.rating.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
              <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
              <p class="mb-0"><%= review.comment %></p>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-5 col-md-3">
        <div style="width: 100%; height: 200px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <div class="neu-form sticky-top p-4 mt-4">
          <% if @hire.customer_id == @customer.id %>
            <h3>Amazing <%= @customer.first_name %> you booked to <%= @artist.name %></h3>
            <hr>
            <small>From: <%= @hire.start_date %></small>
            <br>
            <small>to: <%= @hire.end_date %></small>
            <div class="d-flex align-items-center my-2">
              <h3 class="my-0 me-2">Total:</h3>
              <i class="fa-solid fa-euro-sign"></i>
              <h4 class="my-0 mx-2"><%= @hire.total_price %></h4>
            </div>
            <hr>
            <h4 class="mt-6"> Make your experience better </h6>
            <%= link_to "Add some options", hire_path(@hire), :class => "btn btn-outline-success ms-5 mt-1" %>
          <% else %>
            <h3>Book <%= @artist.name %></h3>
            <%= simple_form_for [@artist, @hire], data: { controller: "hire-form" } do |f| %>
              <%= f.label :start_date, class: "py-1" %>
              <br>
              <%= f.date_field :start_date, class: "py-1", min: Date.tomorrow,
                data: { "hire-form-target": "startDate", "action": "change->hire-form#minEnd" } %>
              <br>
              <%= f.label :end_date, class: "py-1" %>
              <br>
              <%= f.date_field :end_date, class: "py-1", data: { "hire-form-target": "endDate", "action": "change->hire-form#totalDays" } %>
              <%= f.hidden_field :total_price, :data => { :"hire-form-target" => "totalForm" } %>
              <span data-hire-form-target="dailyPrice" hidden><%= @artist.price %></span>
              <hr>
              <small>Total price:</small>
              <div class="d-flex align-items-center mb-2">
                <i class="fa-solid fa-euro-sign"></i>
                <h4 class="my-0 mx-2"data-hire-form-target="fullPrice"></h4>
              </div>
              <%= f.button :submit, class: "btn btn-outline-success" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
