<div class="d-flex sticky-top min-vh-100">
    <ul class="nav flex-column mx-auto text-center align-items-center justify-content-center gap-5">
      <% if user_signed_in?%>
        <li class="nav-item">
           <%= link_to artists_path do %> 
             <i class="fa-solid fa-house fa-lg" data-fa-transform="flip-v"></i>
           <% end %>
        </li>
        <li class="nav-item">
            <%= link_to artists_path do %> 
              <i class="fa-solid fa-star fa-lg"></i>
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to artists_path do %> 
              <i class="fa-solid fa-list fa-lg"></i>
            <% end %>
        </li>
        <li class="nav-item btn-group dropstart">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do%>
            <i class="fa-solid fa-right-from-bracket fa-lg"></i>
          <% end %>
        </li>
        <% else %>
           <li class="nav-item">
            <%= link_to new_user_session_path do %>
              <i class="fa-solid fa-right-to-bracket fa-lg"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path do %>
              <i class="fa-solid fa-user-plus fa-lg"></i>
            <% end %>
          </li>
        <% end %> 
    </ul>
</div>
