<div class="navside-fake d-flex sticky-top min-vh-100 bg-warning shadow">
    <ul class="nav flex-column mx-auto text-center align-items-center justify-content-center gap-5">
      <% if user_signed_in?%>
        <li class="nav-item btn-icon d-flex justify-content-center align-items-center">
           <%= link_to artists_path do %>
             <i class="fa-solid fa-house fa-lg text-white"></i>
           <% end %>
        </li>
        <li class="nav-item btn-icon d-flex justify-content-center align-items-center">
            <%= link_to artists_path do %>
              <i class="fa-solid fa-star fa-lg text-white"></i>
            <% end %>
        </li>
        <li class="nav-item btn-icon d-flex justify-content-center align-items-center">
            <%= link_to artists_path do %>
              <i class="fa-solid fa-list fa-lg text-white"></i>
            <% end %>
        </li>

        <li class="btn-icon nav-item btn-group dropstart">
          <% customer = Customer.find_by(user_id: current_user.id) %>
          <% if customer.avatar.key.nil? %>
            <%= image_tag("default_user.png", class: "avatar") %>
          <% else %>
            <%= cl_image_tag customer.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, :gravity=>"face", :height=>36, :width=>36, :crop=>"thumb", :zoom=>"0.5" %>
          <% end %>
            <div class="dropdown-menu dropdown-menu-end bg-glass ms-3" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", customer_path(customer), class: "dropdown-item" %>
              <%= link_to "Edit", edit_customer_path(customer), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
        </li>
        <li class="nav-item btn-icon d-flex justify-content-center align-items-center">
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-icon" do%>
            <i class="fa-solid fa-right-from-bracket fa-lg text-white"></i>
          <% end %>
        </li>
        <% else %>
           <li class="nav-item btn-icon d-flex justify-content-center align-items-center">
            <%= link_to new_user_session_path do %>
              <i class="fa-solid fa-right-to-bracket fa-lg text-white"></i>
            <% end %>
          </li>
          <li class="nav-item btn-icon d-flex justify-content-center align-items-center">
            <%= link_to new_user_registration_path do %>
              <i class="fa-solid fa-user-plus fa-lg text-white"></i>
            <% end %>
          </li>
        <% end %>
    </ul>
</div>
