<h1>New customer</h1>
<%= simple_form_for [@user, @customer] do |f| %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :age %>
  <%= f.input :address %>
  <%= f.input :avatar %>
  <%= f.button :submit %>
<% end %>
