<div class="bg-image h-100 opacity-75"
     style="background-image: url('https://images.unsplash.com/photo-1468186402854-9a641fd7a7c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80')">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-md-5">
          <div class="neu-form mt-5">
            <h2 class="card-title text-center pt-2">Complete your profile</h2>
            <div class="card-body py-md-4">
              <%= simple_form_for @customer do |f| %>
                <div class="form-group px-3">
                  <%= f.input :first_name, class:"form-control" %>
                </div>
                <div class="form-group px-3">
                  <%= f.input :last_name %>
                </div>
                <div class="form-group px-3">
                  <%= f.input :age %>
                </div>
                <div class="form-group px-3">
                  <%= f.input :address %>
                </div>
                <div class="form-group px-3">
                  <%= f.input :avatar %>
                </div>
                <div class="px-3">
                <%= f.submit "Save", class: "btn btn-info" %>
                </div>
              <% end %>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
