<div class="container mt-5">
  <div class="main-body">
    <div class="row gutters-sm">
    <%# Profile card %>
      <div class="col-md-4 mb-3">
        <div class="neu-form mt-5">
          <div class="d-flex flex-column align-items-center text-center">
            <%= cl_image_tag @customer.avatar.key, height: 350, width: 350, class: "card-img-top" %>
            <div class="mt-3">
              <h2 class="fw-bold py-3"><%= @customer.first_name %> <%= @customer.last_name %></h2>
              <p><%= @customer.age %> years old</p>
              <p><%= @customer.address %></p>
              <%= link_to "Edit my profile", edit_customer_path(@customer), class: "btn btn btn-outline-success my-3" %>
            </div>
          </div>
        </div>
      </div>
<%# hires %>
    <div class="col-md-8 mt-5">
      <hr>
      <div class="row gy-5">
        <div class="col-sm-3">
          <h4 class="mb-0">My hires</h4>
        </div>
        <div class="col-sm-9 text-secondary">
          <% if @customer.hires.empty? %>
            <small><em class="text-muted">You didn't hire anyone yet</em></small>
          <% end %>
          <% @customer.hires.each do |hire| %>
            <div class="card-hire">
            <%= cl_image_tag hire.artist.photos[0].key, height: 50, width: 50 %>
              <div class="card-hire-infos">
                <p class="mb-0"><%= link_to hire.artist.name, artist_path(hire.artist) %></p>
                <p class="mb-0"><%= hire.start_date %></p>
                <p class="mb-0"><%= hire.end_date %></p>
                <p class="mb-0"><%= hire.total_price %></p>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row gy-5">
        <div class="col-sm-3">
          <h4 class="mb-0">My reviews</h4>
        </div>
        <div class="col-sm-9 text-secondary">
          <% if @customer.reviews.empty? %>
            <small><em class="text-muted">You didn't write any reviews yet</em></small>
          <% end %>
          <% @customer.reviews.each do |review| %>
            <div>
              <p class="mb-0"><%= link_to review.artist.name, artist_path(review.artist) %></p>
              <% review.rating.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
              <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
              <p class="mb-0"><%= review.comment %></p>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
