<div class="neu-form sticky-top p-4">
  <h2>Booking to <%=  %></h2>
  <%= simple_form_for [hire, hire_add], data: { controller: "hire-form" } do |f| %>
    <%= f.label :start_date %>
    <%= f.date_field :start_date, min: Date.tomorrow,
      data: { "hire-form-target": "startDate", "action": "change->hire-form#minEnd" } %>
    <%= f.label :end_date %>
    <%= f.date_field :end_date, data: { "hire-form-target": "endDate", "action": "change->hire-form#totalDays" } %>
    <%= f.association :add, collection: Add.all.order(:name), prompt: "add" %>
    <%= f.hidden_field :total_price, :data => { :"hire-form-target" => "totalForm" } %>
    <span data-hire-form-target="dailyPrice" hidden><%= @artist.price %></span>
    <hr>
    <small>Total price:</small>
    <div class="d-flex align-items-center mb-2">
      <i class="fa-solid fa-euro-sign"></i>
      <h4 class="my-0 mx-2"data-hire-form-target="fullPrice"></h4>
    </div>
    <%= f.button :submit, class: "btn btn-outline-success" %>
  <% end %>
</div>
