<!DOCTYPE html>
<html>
  <head>
    <title>FakeYourLife</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row position-relative">
        <svg class="position-absolute top-0 end-0 shape-fake-top mt-n5 mx-0 px-0" id="visual" viewBox="0 0 950 320" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 142L22.8 149.3C45.7 156.7 91.3 171.3 137 181.5C182.7 191.7 228.3 197.3 274 196.3C319.7 195.3 365.3 187.7 411.2 183C457 178.3 503 176.7 548.8 183.5C594.7 190.3 640.3 205.7 686 206.3C731.7 207 777.3 193 823 187.3C868.7 181.7 914.3 184.3 937.2 185.7L960 187L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#e7e7e7"></path><path d="M0 106L22.8 114.8C45.7 123.7 91.3 141.3 137 152.8C182.7 164.3 228.3 169.7 274 171.3C319.7 173 365.3 171 411.2 171.5C457 172 503 175 548.8 170.8C594.7 166.7 640.3 155.3 686 148.7C731.7 142 777.3 140 823 144.8C868.7 149.7 914.3 161.3 937.2 167.2L960 173L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#b6c3c2"></path><path d="M0 142L22.8 140.7C45.7 139.3 91.3 136.7 137 127.7C182.7 118.7 228.3 103.3 274 97.5C319.7 91.7 365.3 95.3 411.2 104C457 112.7 503 126.3 548.8 132.5C594.7 138.7 640.3 137.3 686 129C731.7 120.7 777.3 105.3 823 101.7C868.7 98 914.3 106 937.2 110L960 114L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#86a19f"></path><path d="M0 51L22.8 54.2C45.7 57.3 91.3 63.7 137 72.5C182.7 81.3 228.3 92.7 274 91.2C319.7 89.7 365.3 75.3 411.2 69.2C457 63 503 65 548.8 65.3C594.7 65.7 640.3 64.3 686 63.3C731.7 62.3 777.3 61.7 823 64.8C868.7 68 914.3 75 937.2 78.5L960 82L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#57807d"></path><path d="M0 64L22.8 58.7C45.7 53.3 91.3 42.7 137 36.3C182.7 30 228.3 28 274 28.5C319.7 29 365.3 32 411.2 37.7C457 43.3 503 51.7 548.8 50.3C594.7 49 640.3 38 686 34.3C731.7 30.7 777.3 34.3 823 39.7C868.7 45 914.3 52 937.2 55.5L960 59L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#26605c"></path></svg>
        <div class="col-auto p-0">
          <%= render 'shared/sidebar' %>
        </div>
        <div class="col p-0 min-vh-100">
          <%= render 'shared/navbar' %>
          <%= yield %>
        </div>
        <svg class="position-fixed bottom-0 end-0 shape-fake mt-n5 mx-0 px-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#CD452F" fill-opacity="1" d="M0,0L40,37.3C80,75,160,149,240,202.7C320,256,400,288,480,293.3C560,299,640,277,720,234.7C800,192,880,128,960,133.3C1040,139,1120,213,1200,250.7C1280,288,1360,288,1400,288L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
      </div>
    </div>
  <%= render "shared/flashes" %>
  </body>
</html>
