<!DOCTYPE html>
<html>
  <head>
    <title>FakeYourLife</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container-fluid p-0 m-0 ">
      <div class="container-fluid row p-0 m-0">
        <div class="sticky-top col-auto p-0 m-0">
          <%= render 'shared/sidebar' %>
        </div>
        <div class="container col min-vh-100 p-0 m-0">
          <%= render 'shared/navbar' %>
          <%= yield %>
        </div>
        <%= render 'shared/footer' %>
        <svg class="position-fixed bottom-0 start-0 shape-fake mt-n5 mx-0 px-0" id="visual" viewBox="0 0 1440 320" viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 111L131 166L262 172L393 190L524 131L655 153L785 186L916 132L1047 179L1178 115L1309 170L1440 112L1440 321L1309 321L1178 321L1047 321L916 321L785 321L655 321L524 321L393 321L262 321L131 321L0 321Z" fill="#e7e7e7"></path><path d="M0 175L131 142L262 183L393 162L524 172L655 170L785 210L916 192L1047 215L1178 149L1309 157L1440 177L1440 321L1309 321L1178 321L1047 321L916 321L785 321L655 321L524 321L393 321L262 321L131 321L0 321Z" fill="#dfc2bc"></path><path d="M0 231L131 199L262 235L393 219L524 192L655 226L785 200L916 207L1047 178L1178 205L1309 194L1440 222L1440 321L1309 321L1178 321L1047 321L916 321L785 321L655 321L524 321L393 321L262 321L131 321L0 321Z" fill="#d49d92"></path><path d="M0 244L131 257L262 215L393 219L524 234L655 217L785 221L916 257L1047 251L1178 216L1309 231L1440 223L1440 321L1309 321L1178 321L1047 321L916 321L785 321L655 321L524 321L393 321L262 321L131 321L0 321Z" fill="#c6796a"></path><path d="M0 280L131 255L262 254L393 251L524 261L655 282L785 276L916 272L1047 263L1178 275L1309 269L1440 269L1440 321L1309 321L1178 321L1047 321L916 321L785 321L655 321L524 321L393 321L262 321L131 321L0 321Z" fill="#b55445"></path></svg>
    </div>
  <%= render "shared/flashes" %>
  </body>
</html>
